WCF/WCF + MexPoint + ProxyClass/Service_MyDiskInfo_ClassSend + MexPoint/Client_Mex_DiskInfo/Service References/DiskInfo/DiskInfo3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Service_MyDiskInfo" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Service_MyDiskInfo" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/DiskInfo?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.IO" />
  <xs:complexType name="MyDiskInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="DiskName" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/System.IO" minOccurs="0" name="DiskType" type="q1:DriveType" />
      <xs:element minOccurs="0" name="FreeSpace" type="xs:long" />
      <xs:element minOccurs="0" name="TotalSpace" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MyDiskInfo" nillable="true" type="tns:MyDiskInfo" />
</xs:schema>