WCF/WCF + MexPoint + ProxyClass/Service_MyDiskInfo_ClassSend + MexPoint/Client_Mex_DiskInfo/Service References/DiskInfo/DiskInfo1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/DiskInfo?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Service_MyDiskInfo" />
  <xs:element name="DiskSpaces">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="diskName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DiskSpacesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Service_MyDiskInfo" minOccurs="0" name="DiskSpacesResult" nillable="true" type="q1:MyDiskInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Print">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Service_MyDiskInfo" minOccurs="0" name="mdi" nillable="true" type="q2:MyDiskInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PrintResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>